[tool.ruff.lint]
select = [
  # Pyflakes
  "F",
  # pyupgrade
  "UP",
  # flake8-bugbear
  "B",
  # flake8-simplify
  "SIM",
  # isort
  "I",
  # pycodestyle
  "E",
  "W",
  # google
  "D",
  "D401",
  "D417",
  # pydocstyle
  "Q",
]

[tool.ruff]
line-length = 88
indent-width = 2

[tool.ruff.lint.pydocstyle]
convention = "google"
